body {
    margin: 0;
    padding: 0;
    font-family: Lato;
}
header {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #222222;

}
input {
    outline: none;
}
.container, .myContainer {
    width: 1140px;
    margin: 0 auto;
}
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoGroup {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.burgerGroup {
    width: 168px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.main {
    display: flex;
    height: 764px;
    background-color: #F1E4E6;
    }
.mainPhoto {
    height: 764px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/Layer_57-removebg-preview\ 1.png);
}
.mainSlogan {
    height: 764px;
    margin-left: 91px;
}
.main_slogan_text {
width: 405px;
Font-family: Lato;
font-style: normal;
Font-weight: Bold;
Font-size: 32px;
Line-height: 38px;
Line-height: 100%;
border-left: #F16D7F 12px solid;
margin-top: 290px;
padding-left: 16px;
}

.upper_slogan_text {
font-weight: 900;
font-size: 48px;
line-height: 58px;
}
.end_slogan_text {
    color: #F16D7F;
}
.offer {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 96px;
    
}
.clothes {
    height: 260px;
    display: flex;
    justify-content: space-between;

}
.women {
    width: 360px;
    height: 260px;
    background-image: url(img/Layer\ 43.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(33, 22, 22, 0.7); 
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.men {
    width: 360px;
    height: 260px;
    background-image: url(img/Rectangle\ 30-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(33, 22, 22, 0.7); 
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kids {
    width: 360px;
    height: 260px;
    background-image: url(img/Rectangle\ 30.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(33, 22, 22, 0.7); 
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accessoires {
    width: 100%;
    height: 180px;
    background-image: url(img/Rectangle\ 20.png);
    margin-top: 30px;background-color: rgba(33, 22, 22, 0.7); 
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offersFor {
width: 169px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
    flex-direction: column;
}
.offers {
    font-size: Lato;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;

}
.for {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.featuredItems_heading {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #222222;
text-align: center;
margin-block-start: 0;
    margin-block-end: 0;
}
.featuredItems_text {
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
text-align: center;
margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 6px;
    margin-bottom: 48px;
}
.item_card {
    width: 360px;
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 30px;
    }

.item_card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.item_card:hover .add-box {
    display: flex;
}
.item-link {
    display: block;
    text-decoration: none;
}
.item_card:hover .item_img{
    filter: brightness(30%);
}
.items_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.txt-box {
    margin: 16px;
}
.add-box {
    position: absolute;
    width:100%;
    height: 420px;
    top: 0px;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    }
.add {
    display: flex;
    border: 1px solid #fff;
    text-decoration: none;
    color:#fff;
}
.add:hover {
    box-shadow: 0 0 10px #ffffff;
}
.add-txt {
    margin-left: 11px;
    margin-top: 14px;
    margin-right: 16px;
}
.add-img {
    margin-left: 13px;
}
.card_heading {
font-size: 13px;
line-height: 16px;
color: #000000;
}
.card_description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-bottom: 13px;
}
.card_price {
font-size: 16px;
line-height: 19px;
color: #F16D7F;
}
.browseLink {
    display: flex;
    text-decoration: none;
    justify-content: center;
}
.browseButton {
    color: #F26376;
    border: 1px solid #F26376;
    margin-top: 18px;
    padding-top: 19px;
    padding-bottom: 16px;
    text-align: center;
    width: 212px;
    margin-bottom: 95px;
    background-color: #ffffff;
}
.browseButton:hover {
    color: #ffffff;
    background-color: #F26376;
}
    .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(251, 251, 251, 1);
    
   }
.upper {
    height: 341px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
}
.footHeader {
    width: 360px;
    height: 134px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.middle {
    height: 448px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-image: url(img/Layer\ 41.png);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
       
    
}
.middle_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(244, 244, 244, 0.7);

}


.feedback {
    text-align: center;
    z-index: 1;
    }

.feedback_text {
    padding-top: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.FBfigure {
    width: 360px;
    height: 225px;
}
.subscribe {
    width: 557px;
    height: 142px;
    text-align: center;
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 167.2%;
text-align: center;
color: #222224;
z-index: 1;
}
.subscribeBox {
    display: flex;
    justify-content: center;
    margin-top: 25.5px;
}

h5 {
margin-block-start: 0;
    margin-block-end: 0;
}

.subscribe_text {
    font-weight: normal;
font-size: 18px;
line-height: 167.2%;
margin-block-start: 0;
    margin-block-end: 0;
}

.subscribeForm {
    width: 356px;
    height: 43.5px;
    display: flex;
    justify-content: center;
    color:#ffffff;
}
.leftSub {
    width: 256px;
    height: 41px;
    background-color: #E1E1E1;
    border-radius: 20px 0 0 20px;
    border: none;
    padding-left: 25px;
    
}
.rightSub {
    width: 100px;
    height: 43px;
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    border: 1px solid #F16D7F;
    color: #ffffff;
}
.bottom {
    height: 79px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    color: #FBFBFB;
    align-items: center;
}
.footHead {
    font-weight: normal;
font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
margin-block-start: 0;

}
.footHeadText {
    font-weight: 300;
font-size: 13.972px;
line-height: 17px;
}
.icons {
    height: 32px;
    width: 148px;
    display: flex;
    justify-content: space-between;
}
.icon-box {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icons :hover {
    background-color: #F16D7F;
    }
.fab {
    color: black;
}

.icon-box:hover .fab {
    color: #ffffff;
    }
.breadcrumb {
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.newArrivalsLink {
    text-decoration: none;
    font-size: 24px;
line-height: 29px;
color: #F16D7F;
}
.breadcrumb-item {
font-weight: 300;
font-size: 14px;
line-height: 17px;

}
.breadcrumb-item:hover {
    color: #F16D7F;
    ;
}
.breadcrumb-link:hover {
    color: #F16D7F;
}
.breadcrumb-link {
    text-transform: uppercase;
    text-decoration: none;
color: #636363;
}

.addLink {
    text-decoration: none;
    color: #F16D7F;
} 
.carouselBox {
    position: relative;
    height: 777px;
    z-index: -1;
    margin: auto;
    background-size: cover;
}
.product {
    border: 1px solid #E5E5E5;
    z-index: 1;
    margin-top: -50px;
    margin-bottom: 158px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.collection {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 61px;
    margin-bottom: 11px;
}
.stick {
    width: 63px;
    height: 3px;
    background-color: #F16D7F;
    margin: auto;
}

.prod {
    color: #F16D7F;
}
.brand {
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #4D4D4D;
margin-top: 11px;
margin-bottom: 19px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.line {
    width: 642px;
    height: 1px;
    background-color: #5E5E5E;
    margin: auto;
}

.descr {
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5E5E5E;
margin-right: 292px;
margin-left: 292px;
}
.price {
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #EF5B70;
margin-top: 30px;
margin-bottom: 123px;

}
.navbar-expand-lg {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 0; 
    padding-bottom: 0;
}

.nav-link {
    color: #6F6E6E;
}

.boxButton {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 61px;
}
.browseLink1 {
    display: flex;
    width: 212px;
    border: 2px solid #F16D7F;
    }
.add-img1 {
    margin: 15px;
    }

.dropdown-toggle {
    display: flex;
}
.dropImage {
    width: 15px;
    height: 10px;
    margin-left: 10px;
}
.dropdown-toggle::after {
    display: none;
}
.imgBox {
    height: 25px;
    display: flex;
    align-items: center;
    margin-right: 23px;
}
.navbar-collapse {
    margin-top: 61px;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 50px;

}
.dropdown-menu {
    z-index: 3;
}
.nav-link:hover {
    color:#F16D7F;
}
.filterBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invisibleBlock {
width: 100px;
height: 50px;
}
.filter__img {
    margin-left: 7px;
    /* transition: all .3s ease; */
}
details summary {
    list-style: none;
    display: flex;
    align-items: center;
}
details {
    position: absolute;
  }

details .filter_text:hover {
      color: rgba(239, 91, 112, 1);
}
 details:hover .filter__img{
     display: none;
 }
 .filter_imgRed {
     display: none;
 }
 details:hover .filter_imgRed{
     display: block;
 }
 .summaryHeader {
     width: 327px;
     height: 37px;
     border-left: 5px solid rgba(239, 91, 112, 1);
     border-bottom: 1px solid rgba(235, 235, 235, 1);
}


/* details:hover filter__img {
    opacity: 0;
  }
  
 details:hover {
    background: url(img/filterRed.png) no-repeat 50% 50%;
  } */

.dropDetails {
    position: relative;
    z-index: 5;
    opacity: 1;
}

.filter_text {
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #000000;
margin: 0;
}
